body{
    background-color: #F5F4F5
}

nav{
    background-color: #016893;
    border-bottom: 1px solid black;
    font-family:  'Archivo Narrow', sans-serif;
    font-size: 1.5rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);   
    text-decoration: none;
    display: flex;
}

nav ul{
    margin-bottom: 0;

}

nav li{
    display: inline;
    text-decoration: none;
    margin-bottom: 0;
    padding: 0 20px;
}

nav a{
    color: #F5F4F5;
    text-decoration:none;
    margin-bottom: 0;
}
nav a:hover{
    color: #B66D0D;
    transition-duration: 0.6s;
}

.title{
    text-align: center;
}



.image{
    width:128px; 
    aspect-ratio:1/1;
}

